<div class="container mb-4">
  <div class="col-8 mx-auto">
    <%= form_with(url: search_incidents_path, local: true, method: :get, class: "d-grid gap-2 d-md-flex justify-content-md-end") do |f| %>
      <%= f.text_field :keyword, placeholder: "例）水漏れ", class: "form-control" %>
      <%= f.submit "インシデントを検索する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>