body {
  font-family: 'M PLUS Rounded 1c', sans-serif!important;
  background-image: url('bgi.jpg');
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo-img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;
}

.image-index {
  width: 240px;
  height: 240px;
}

.image-show {
  width: 420px;
  height: 420px;
}

.form-title {
  text-shadow: 2px 2px 2px gray;
}

.indispensable {
  font-size: 10px;
  color: white;
  padding: 2px;
  margin-left: 8px;
  border-radius: 2px;
}

.post-incident-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  box-shadow: 5px 10px 10px gray;
}