.logo{
  width: 25px;
  height: 25px;
}

.image{
  width: 250px;
  height: 250px;
}

.image-show{
  width: 500px;
  height: 500px;
}

body{
  background-image: url("bgi.jpeg");
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.hissu{
  font-size: 5px;
  padding: 1px;
  margin-left: 7px;
}

.form-title{
  text-shadow: 3px 2px 1px gray;
}